body {
	background-color: #141414;
	font-family: helvetica, sans-serif;
	color: #141414;
	padding: 10px;
	min-height: 300px;
	min-width: 300px;
}

header {
	color: #BEBEBE;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	text-align: center;
	color: #989898;
}

footer a {
	text-decoration: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#announcement {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 300px;
	max-height: 300px;
	border: 3px solid #292929;
	text-align: center;
	color: darkred;
}

#joke {
	text-align: center;
	font-size: 45px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: solid #292929;
	border-bottom: solid #292929;
	min-width: 275px;
}

#next {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition-duration: 0.35s;
	border: 3px solid #292929;
	border-radius: 10px;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	background-color: #141414;
	color: #292929;
}

#next:hover {
	color: #cccccc;
	border: 3px solid #cccccc;
	cursor: pointer;
}
